body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

h1 {
    color: white;
    font-size: 148px;
    text-align: center;
}

button {
    background-color: rgb(196, 126, 35);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Media query para dispositivos móveis com largura máxima de 600 pixels */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 64px; /* Ajuste o tamanho da fonte conforme desejado */
    }
    button {
        font-size: 18px; /* Ajuste o tamanho da fonte conforme desejado */
    }
}
